<%# $('#comments-section').append('<%= j render @comment'); %>
<%# // ตัวอย่างการแสดง comment ที่สร้างขึ้นใหม่ในหน้า %>
const commentContent = "<%= j @comment.content %>";
const commentUser = "<%= j @comment.user.username %>";

const newCommentHTML = `
  <div class="comment">
    <strong><%= j @comment.user.username %></strong>: 
    <p><%= j @comment.content %></p>
  </div>
`;

document.getElementById("comments-list").innerHTML += newCommentHTML;
