<div id="headbar" class="headbar">
    <h1> Sapling</h1>
    
    <%= form_with url: posts_path, local: true, method: :get do |f| %>
        <%= f.text_field :search, placeholder: "Find post..." %>
        <%= f.submit 'Search' %>
    <% end %>
    <nav>
    <%= form_tag(logout_path, method: :delete) do %>
        <%= submit_tag "Logout" %>
    <% end %>
</nav>
</div>

<div id="left">
    <h3>Your Profile</h3>
    <p><%= current_user.username %></p>
</div>

<div id="middle">
    <div>
        <%= form_with model: @post, local: true do |f| %>
            <div class="from-topic">   
                <p><%= f.label :topic %><br><%= f.text_field :topic %></p>
            </div>
            <div class="from-content">   
                <p><%= f.label :content %><br><%= f.text_area :content %></p>
                <%= f.submit 'Add Post' %>
            </div>      
        <% end %>
    </div>

    <!-- Modal for editing the post -->
    <div id="editPostModal" class="modal fade" tabindex="-1" aria-labelledby="editPostLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editPostLabel">Edit Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Content will be dynamically loaded via JavaScript -->
                </div>
            </div>
        </div>
    </div>

    <% @posts.each do |post| %>
        <div class="post">
            <h4 class="username"><%= post.user.username %></h4>
            <div class="top-con">
                <h3><%= post.topic %></h3>
                <div>
                    <% if post.user == current_user %>
                        <%= link_to "Edit", edit_post_path(post), remote: true, class: "btn btn-warning btn-sm" %>
                        <%= link_to 'Delete', post_path(post), data: { confirm: 'Are you sure?', turbo_method: 'delete' }, class: "btn btn-danger btn-sm" %>
                    <% end %>
                </div>
            </div>
            <p><%= post.content %></p>
            

            <%= form_with(model: [post, @comment], local: true) do |f| %>
            <% if post.likes.exists?(user: current_user) %>
                <%= link_to 'Unlike', like_post_path(post), method: :post, class: 'like-button', data: { post_id: post.id, liked: true }, remote: true %>
            <% else %>
                <%= link_to 'Like', like_post_path(post), method: :post, class: 'like-button', data: { post_id: post.id, liked: false }, remote: true %>
            <% end %>
                <%= f.text_area :content, placeholder: "Add a comment..." %>
                <%= f.submit 'Comment' %>
            <% end %>

            <p class="likes-count">Likes: <%= post.likes.count %></p>
            <p>Comments: <%= post.comments.count %></p>

            <% post.comments.each do |comment| %>
                <div  class="userscomment">    
                    <p><%= comment.user.username %></p>
                    <p><%= comment.content %></p>
                </div>    
            <% end %>
        </div>
    <% end %>



</div>

